<!DOCTYPE html>
<html>
<head>
    <title>Edit Assignment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="page-container">
    <div class="card">
        <h2>Edit Assignment</h2>

        <input id="course" value="{{ assignment.course }}">
        <input id="title" value="{{ assignment.title }}">
        <input id="description" value="{{ assignment.description }}">
        <input id="deadline" type="date" value="{{ assignment.deadline }}">

        <select id="priority">
            <option value="Low" {% if assignment.priority == "Low" %}selected{% endif %}>Low</option>
            <option value="Medium" {% if assignment.priority == "Medium" %}selected{% endif %}>Medium</option>
            <option value="High" {% if assignment.priority == "High" %}selected{% endif %}>High</option>
        </select>

        <button onclick="updateAssignment({{ assignment.id }})">
          Update Assignment
        </button>

        <a class="back-link" href="/">← Back</a>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
